<ion-header [translucent]="true">
  <ion-toolbar class="toolbar-verabri">
    <ion-buttons slot="start">
      <ion-back-button text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>Encuesta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="encuestaForm">

    <h3 class="ion-padding-horizontal">Puntúa tu experencia general</h3>

    <!-- PUNTUACIÓN PRINCIPAL -->
    <ion-item lines="none">
      <ion-label position="stacked">Calificación General (1 al 5)</ion-label>
      <ion-range min="1" max="5" step="1" snaps="true" ticks="true" formControlName="calificacion" color="warning">
        <ion-icon slot="start" name="star-outline"></ion-icon>
        <ion-icon slot="end" name="star"></ion-icon>
      </ion-range>
    </ion-item>

    <!-- ASPECTOS -->
    <h3 class="ion-padding-horizontal">Aspectos en Detalle</h3>
    <div formGroupName="aspectos">
      <ion-item>
        <ion-label>Calidad de la Comida</ion-label>
        <ion-badge slot="end" color="secondary">{{ encuestaForm.get('aspectos.comida')?.value }}</ion-badge>
        <ion-range min="1" max="5" formControlName="comida"></ion-range>
      </ion-item>

      <ion-item>
        <ion-label>Servicio / Atención</ion-label>
        <ion-badge slot="end" color="secondary">{{ encuestaForm.get('aspectos.servicio')?.value }}</ion-badge>
        <ion-range min="1" max="5" formControlName="servicio"></ion-range>
      </ion-item>

      <ion-item>
        <ion-label>Limpieza</ion-label>
        <ion-badge slot="end" color="secondary">{{ encuestaForm.get('aspectos.limpieza')?.value }}</ion-badge>
        <ion-range min="1" max="5" formControlName="limpieza"></ion-range>
      </ion-item>
    </div>

    <!-- VOLVERIA O NO -->
    <ion-item class="ion-margin-top">
      <ion-label>¿Volverías a elegirnos?</ion-label>
      <ion-toggle formControlName="volveria" color="success"></ion-toggle>
    </ion-item>

    <!-- COMO CONOCIO -->
    <ion-item>
      <ion-label position="stacked">¿Cómo nos conociste?</ion-label>
      <ion-select placeholder="Selecciona una opción" formControlName="como_conocio" fill="none"
          okText="Aceptar" cancelText="Cancelar">
        <ion-select-option value="redes_sociales">Redes sociales</ion-select-option>
        <ion-select-option value="recomendacion">Me lo recomendaron</ion-select-option>
        <ion-select-option value="pasando">Pasé por el local</ion-select-option>
        <ion-select-option value="otro">Otros motivos</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- COMENTARIO/SUGERENCIAS -->
    <ion-item lines="none">
      <ion-label position="stacked">Comentarios o sugerencias</ion-label>
      <ion-textarea 
        formControlName="comentario" 
        placeholder="Contanos más sobre tu experiencia..." 
        rows="4"
        auto-grow="true">
      </ion-textarea>
    </ion-item>

    <!-- BOTON GUARDADO -->
    <div class="ion-padding">
      <ion-button (click)="guardarEncuesta()" expand="block" [disabled]="encuestaForm.invalid">
        Enviar Encuesta
      </ion-button>
    </div>

  </form>
</ion-content>